header {
    background-color: #000000;
    color: white;
    padding: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 25px;
  }
  
  .logo {
    height: 83px;
    width: 206px;
    position: relative;
    left: -25px;
    top: -3px;
  }
  
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
  }
  
  nav li {
    margin-left: 20px;
    font-size: 22px;
  }
  
  nav a {
    text-decoration: none;
    color: white;
    transition: transform 0.3s ease-in-out;
    padding: 5px 0;
  }
  
  nav ul li a:hover,
  nav ul li a:focus {
    color: #4abc31; 
  }
  
  nav ul li a::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: rgb(100, 248, 107);
    transition: width 0.3s;
  }
  
  nav ul li a:hover::after,
  nav ul li a:focus::after,
  nav ul li a.active::after {
    width: 100%;
  }
  
  nav ul li a.active {
    color: rgb(100, 248, 107); 
  }
  
